In [17]:
import shutil

import pandas as pd

Dias = "18-23 de julio"
Fuente = "C:/Users/con_acruzados/Documents/Reporte_Diario/Copy_jupiter/resgistro_diario.xlsx"
Destino = "C:/Users/con_acruzados/Documents/Reporte_Diario/Copy_jupiter/resgistro_diario"+Dias+".xlsx"


shutil.copy(Fuente, Destino)
#shutil.copy("resgistro_diario.xlsx","C:/Users/con_acruzados/Documents/Reporte_Diario/prueba/resgistro_diariod.xlsx")
df = pd.read_excel("resgistro_diario"+Dias+".xlsx", sheet_name='Hoja1')
df.describe()

       Unnamed: 0     Avance  Comentarios      Horas
count         0.0  12.000000          0.0  11.000000
mean          NaN   0.733333          NaN   3.636364
std           NaN   0.344656          NaN   3.613107
min           NaN   0.200000          NaN   0.500000
25%           NaN   0.400000          NaN   0.500000
50%           NaN   1.000000          NaN   0.500000
75%           NaN   1.000000          NaN   7.250000
max           NaN   1.000000          NaN   8.000000

In [22]:
import openpyxl
from openpyxl.utils.cell import get_column_letter

Dias = '18-23 de julio'
wb = openpyxl.load_workbook(Destino)
wb.sheetnames
sheet = wb["Hoja1"]
number_rows = sheet.max_row
number_columns = sheet.max_column

replacement = {'2022-06-06':'2022-11-07', '2022-07-06':'2022-12-07'}


for i in range(number_columns):
    for k in range(number_rows):
        cell = str(sheet[get_column_letter(i+1)+str(k+1)].value)
        for key in replacement.keys():
            if str(cell) == key:
                newCell = replacement.get(key)
                sheet[get_column_letter(i+1)+str(k+1)] = str(newCell)

wb.save('resgistro_diario'+Dias+'.xlsx')

In [5]:
column = df.columns[1]
print(column)
print("-" * len(column))

for index, row in df.iterrows():
    print(row[column])

Fecha
-----
2022-06-06 00:00:00
NaT
NaT
NaT
NaT
NaT
NaT
NaT
NaT
NaT
NaT
2022-07-06 00:00:00
NaT
NaT
NaT
NaT
NaT
NaT
2022-08-06 00:00:00
NaT
NaT
NaT
NaT
NaT
2022-09-06 00:00:00
NaT
NaT
NaT
NaT
2022-10-06 00:00:00
NaT
NaT
NaT
NaT
NaT
NaT

In [6]:

print(df.head())
print(df.tail())

   Unnamed: 0      Fecha      Proyecto  \
0         NaN 2022-06-06            TI
1         NaN        NaT     PRFA-1383
2         NaN        NaT           NaN
3         NaN        NaT  JobScheduler
4         NaN        NaT           NaN

                                           Actividad  Avance  Comentarios  \
0  Daily: Sesión de seguimiento diario de equipo ...     1.0          NaN
1  PRFA-1383 Act. del átomo de transferencia TR01...     1.0          NaN
2   + Pruebas QA. Reunión Marisdel-Emmanuel-Willi...     NaN          NaN
3  Prueba para cargar adaptadores en nueva versió...     0.2          NaN
4   + Problema con Job Scheduler (1.13.11) en Win...     NaN          NaN

   Horas
0    0.5
1    0.5
2    NaN
3    7.0
4    NaN
    Unnamed: 0 Fecha      Proyecto  \
31         NaN   NaT           NaN
32         NaN   NaT  Portal - ACH
33         NaN   NaT           NaN
34         NaN   NaT           NaN
35         NaN   NaT           NaN

                                            Actividad  Avance  Comentarios  \
31   + Validar Documentos RFC para el pase a Produ...     NaN          NaN
32   * Error de registro quemado  (4221) en servic...     0.6          NaN
33     Revisión de código Node y React para analiz...     NaN          NaN
34                          + Probar casos. Exitosos.     NaN          NaN
35    + SE va a analizar Módulo de seguridad carga...     NaN          NaN

    Horas
31    NaN
32    7.0
33    NaN
34    NaN
35    NaN

In [12]:
#column.find("2022")
#column.replace("2022","2023")
#print(column.replace("2022","2023"))
import datetime
Dato = datetime.datetime(2022, 6, 6)
Dato2= datetime.datetime(2023, 6, 6)
fecha_="Fecha"
print(column)
print("-" * len(column))

for index, row in df.iterrows():
    if row[column] == fecha_:
        row[column].find(Dato)
        row[column].replace(Dato,Dato2)
    #print(row[column],Dato,Dato2)
    print(row[column])

Fecha
-----
2022-06-06 00:00:00
NaT
NaT
NaT
NaT
NaT
NaT
NaT
NaT
NaT
NaT
2022-07-06 00:00:00
NaT
NaT
NaT
NaT
NaT
NaT
2022-08-06 00:00:00
NaT
NaT
NaT
NaT
NaT
2022-09-06 00:00:00
NaT
NaT
NaT
NaT
2022-10-06 00:00:00
NaT
NaT
NaT
NaT
NaT
NaT