In [1]:
import shutil

import pandas as pd

Fuente = "C:/Users/con_acruzados/Documents/Reporte_Diario/prueba/resgistro_diario.xlsx"
Destino = "C:/Users/con_acruzados/Documents/Reporte_Diario/prueba/resgistro_diariod.xlsx"

shutil.copy(Fuente, Destino)
#shutil.copy("resgistro_diario.xlsx","C:/Users/con_acruzados/Documents/Reporte_Diario/prueba/resgistro_diariod.xlsx")
df = pd.read_excel("resgistro_diariod.xlsx", sheet_name='Hoja1')
df.describe()

       Unnamed: 0     Avance  Comentarios      Horas
count         0.0  12.000000          0.0  11.000000
mean          NaN   0.733333          NaN   3.636364
std           NaN   0.344656          NaN   3.613107
min           NaN   0.200000          NaN   0.500000
25%           NaN   0.400000          NaN   0.500000
50%           NaN   1.000000          NaN   0.500000
75%           NaN   1.000000          NaN   7.250000
max           NaN   1.000000          NaN   8.000000

In [2]:
df = pd.read_excel("resgistro_diariod.xlsx", sheet_name='Hoja1')

In [6]:
print("Columns")
print(df.columns)

Columns
Index(['Unnamed: 0', 'Fecha', 'Proyecto', 'Actividad', 'Avance', 'Comentarios',
       'Horas'],
      dtype='object')

In [9]:
column = df.columns[1]
print(column)
print("-" * len(column))

for index, row in df.iterrows():
    print(row[column])

Fecha
-----
2022-06-06 00:00:00
NaT
NaT
NaT
NaT
NaT
NaT
NaT
NaT
NaT
NaT
2022-07-06 00:00:00
NaT
NaT
NaT
NaT
NaT
NaT
2022-08-06 00:00:00
NaT
NaT
NaT
NaT
NaT
2022-09-06 00:00:00
NaT
NaT
NaT
NaT
2022-10-06 00:00:00
NaT
NaT
NaT
NaT
NaT
NaT

In [24]:
my_list= column
for index, value in enumerate(my_list):
    if value == "Fecha":
      my_list[index] = 2022

print(my_list)

Fecha

In [ ]:
df = pd.DataFrame(data,columns=['Fecha','city'])
df['city']=df['city'].map('I am from {}'.format)